thead tr th {
  outline: none;
}

thead {
  text-transform: uppercase;
}

tbody tr.md-row:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.tlink tr {
  &:hover {
    cursor: pointer;
    background-color: #EFEFEF !important;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
  }
}

tbody tr div>* {
  outline: none;
}
