<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8" />
  <meta name="fragment" content="!" />
  <base href="/" />
  <title>Sanple</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="icon" href="img/EF_icon.png.ico" sizes="16x16" />
  <link rel="stylesheet" type="text/css" href="../../css/app.min.css" /> </head>

<body layout="column">
  <div autoscroll="true" ui-view="" layout="column" flex="noshrink"></div>
  <script type="text/javascript" src="../../js/app.min.js"></script>
</body>

</html>
